// app global css in SCSS form

// Fonts
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(src/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(src/assets/fonts/Ubuntu-Bold.ttf);
}

$text-font-regular: 'Ubuntu-Regular';
$text-font-medium: 'Ubuntu-Medium';
$text-font-bold: 'Ubuntu-Bold';

$sticky-column: #ebf8f8;

//Style
*{
  font-family: $text-font-regular;
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $text-font-regular;
}

p{
  font-size: 18px;
  font-family: $text-font-regular;
}

span{
  font-size: 14px;
  font-family: $text-font-regular;
}

.p-medium{
  font-size: 18px;
  font-family: $text-font-medium;
}

.p-bold{
  font-size: 18px;
  font-family: $text-font-bold;
}

.span-medium{
  font-size: 16px;
  font-family: $text-font-medium;
}

.span-bold{
  font-size: 16px;
  font-family: $text-font-bold;
}

// ********** Table style ***********

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  right: 4px;
  background-color: darkgrey;
  cursor: pointer;
  width: 5px;
  opacity: 0.75
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.q-table {
  .table-th th {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px;
  }

  .q-checkbox__inner--truthy .q-checkbox__bg {
    background: $secondary;
    border: 2px solid $secondary;
  }

  .q-checkbox__inner--indet .q-checkbox__bg {
    background: #333;
    border: 2px solid #333;
  }

}

table.q-table > thead > tr > th > div > div > div.q-checkbox__bg {
  border-color: white;
}

table.q-table > tbody > tr.selected {
  background: rgba($primary, .1);
}

.row-selected {
  background: rgba($primary, .1);
  transform: scale(0.95);
}

.sticky-last-column-table th:last-child, .sticky-last-column-table td:last-child {
  background-color: $sticky-column;
}

.sticky-last-column-table td:last-child {
  position: sticky;
  right: 0;
  width: 100px;
  z-index: 1;
}

.sticky-last-column-table th:last-child {
  position: sticky;
  right: 0;
  z-index: 3;
}

.sticky-column-table th:first-child, .sticky-column-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}



